:root {
  --dark-900: #0D0D0D;
  --dark-800: #0F0F0F;
  --dark-700: #121212;
  --dark-600: #171717;
  --white: #FFFFFF;
  --placeholder: #666666;
  --primary: #1D7CD3;
  --secondary: #1DD3B0;
  --text: #888888;
  --gray: #AAAAAA;
  --gradient: linear-gradient(90deg, #1DD3B0 0%, #1D7CD3 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark-900);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, input, textarea, button {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

img {
  width: 100%;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}












